body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#hero {
  margin-top: 160px; 
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://images.immediate.co.uk/production/volatile/sites/30/2021/02/Harissa-lamb-8ce5e1f.jpg');
  background-position: center;
  background-size: cover;
  position: relative; 
  display: flex;
  justify-content: center;
} 

/* .columns {
  padding: 50px;
  
} */

body {
  font-family: Futura, sans-serif;
  /* font-weight: lighter; */
}

.item-1 {
  margin-top: 160px;
  justify-content: center;
  /* height: 500px; */
}

#hero-img {
  width: 1800px;
  border-radius: 20px;
  /* margin-left: 50px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}

#randombtn {
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  width: 250px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid black;
  
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.card-header-title {
  font-weight: lighter;
  /* text-overflow: ellipsis "[...]"; */
  text-overflow: ellipsis "[...]";
  overflow: hidden;
  height: 60px;
  /* white-space: nowrap; */
  text-align: center;
}

.card {
  border-radius: 15px;
}

/* .image  {
  border-radius: 15px;
  
} */
#image-index {
  border-radius: 15px 15px 0 0;
  
}

.title-prep {
  font-weight: bold;
}

.card-content {
  padding: 10px 20px;
}

#heart-icon {
  position: absolute;
  z-index: 2;
  margin-top: 20px;
  margin-left: 10px;
  color: white;
  fill: black;
}



h5 {
  text-align: right;
  
}
.title {
  font-weight: lighter;
}


.card-rating {
  text-align: right;
  font-size: 12px;
  color: gray;

}

.index-links {
  justify-content: space-between;
}

.show-rating {
  color: gray;
  text-transform: lowercase;
}

.method-title {
  font-weight: bold;
  /* align-self: flex-end; */
  padding-left: 5px;
}

.recipe-steps {
  margin-top: 10px;
  height: 370px;
  overflow-y: auto;
}

i.far {
  padding-right: 5px;
}

.steps {
  font-weight: bold;
  font-size: 14px;
}

.recipe-step-section {
  font-weight: lighter;
}

.subtitle {
  margin-bottom: 50px;
  /* margin-left: 40px; */
  display: flex;
  font-weight: lighter;
  color: gray;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
}

#recipe-show {
  padding-top: 160px;
}

.show-links{
  color: black;
  display: flex;
  text-transform: lowercase;
  justify-content: space-between;
  align-items: center;
}

.recipe-info {
  display: flex;
}

.column {
  flex: auto;
  display: flex;
  flex-direction: column;
  
}

.title-prep.is-6 {
  flex: none;
}

#icon-info2 {
  
  margin-right: 110px;
}

.info-icons {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.icon-info-space {
  margin-bottom: 50px;
}

p.subtitle.method {
  /* display: flex; */
  margin-left: 40px;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 80px
}

.extra-info {
  margin-left: 5px;
  width: 80px
}
.save-share {
  display: flex;
  text-transform: capitalize;
  margin-left: 50px;
}

.method-icon {
  display: flex;
}

.title-prep {
  margin-left: 5px;
} 


.recipe-subtitle {
  color: gray;
  display: flex;
  flex-wrap: wrap;
}

#recipe-index {
  padding-top: 180px;
}

/* #index-cards {
  margin-top: -50px;
} */

#ingredients-list {
  margin-top: 20px;
  height: 200px;
  overflow-y: auto ;
  width: 550px;
  box-shadow: none;
}

/* .container {
  margin-bottom: 20px;
} */


#filter-button {
  width: 100px;
  height: 40px;
  justify-content: center;
 /* margin-right: 50px; */

}


i.fas.fa-filter {
  margin-left: -5px;
}

.current-filter-container {
  color: black;
  background-color: lightgrey;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 50px;
  padding: 5px 10px;
}

.filter-container {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


.filterbtn {
  margin-left: 5px;
}

#filterbtn {
  width: 120px;
  height: 40px;
  /* margin-right: 50px; */
}
#ratingbtn {
  width: 160px;
  height: 40px;
  /* margin-right: 50px; */
}

#filter-button:hover {
  border-color: black;
}
.title.is-4 {
  align-self: flex-start;
}

#submit-review {
  font-weight: bold;
  font-size: 16px;
  text-transform: lowercase;
}

#click-review {
  width: 140px;
  padding-right: 11px;
  font-weight: bold;
}

#nutri-info {
  width: 60px;
  height: 80px;
  margin-right: 10px;
  font-size: 14px;
}



.card.nutritional {
  margin-right: 10px;
  background-color: rgba(226, 226, 226, 0.493);
  box-shadow: none;
}

/* .changeColor {
  color: white;
  
}
.changeColor:hover {
  color: black;
} */
#edit-button {
  width: 150px;
  height: 30px;
}
#delete-button {
  width: 150px;
  height: 30px;
}

.textarea.is-medium {
  width: 400px;
}

.input.comment {
  height: 0px;
}

.review {
  margin-top: 180px
}
#review-form {
  width: 400px;
}

#submit {
  border-radius: 7px;
  height: 6vh;
}

#signupinput {
  border-radius: 0;
}

#signupinput1 {
  border-radius: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#signupinput2 {
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}


#signuptext {
  width: 100%;
  text-align: center;
  display: block;
  margin-top: -10px;
  margin-left: 0;
}

/* #form {
  margin-top: 180px;
} */

.hero-carousel {
  padding-top: 170px;
}
.is-background {
  height: 400px
}
.hero-body {
  padding: 0px
}

@media screen and (max-width: 790px){
  /* #form {
    width: 70%;
    margin-left: 14%;
  } */

}

.addRecipe {
  padding-top: 200px;
}

#addIngredientButton {
  height: 36px;
  width: 65px;
  font-size: 16px;
  border-radius: 0;
  padding-left: 0;
}

#addIngredientBox {
  width: 295px
}

#addDescriptionBox {
  width: 296px;
  height: 100px;
}

#addStepButton {
  width: 180px;
  border-radius:0;
  font-size: 16px;
  padding-left: 0;

}
#addRecipeSubmit {
  width: 300px;
  border-radius: 6px;
  height: 75px;
  font-size: 25px;
}

#label {
  text-align: left;
  margin-right: -50;
}

#method {
  width: 425px
}

#addimage {
  padding-right: 100px;
  border-radius: 0px;
}


#box-one {
  background: url('../assets/fridge3.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;    
  }

#box-one-button{
  justify-content: center;
  text-decoration: none;
  max-width: 450px;
}

#box-two-button{
  justify-content: center;
  text-decoration: none;
  max-width: 425px;
}

#box-two {
  background: url('../assets/chef2.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 500px;
}

#box-twop{
  text-shadow: 2px 2px black;
}

#box-onep {
  text-shadow: 2px 2px black;
}

#column-one {
  background: url('../assets/pru2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  }

#column-two {
  background: url('../assets/GraceDent.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 350px;    
  }

.courses-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
 

.overlay {
  background-color: RGBA(0, 0, 0, 0.5);
  
}

#courses-columns {
  background-color: rgb(236, 236, 236);
  text-shadow: 2px 2px white;
}

#social {
  align-items: center;
}

#tandc {
  margin-top: 100px;
}

#privacy {
  margin-top: 100px;
}

#cd {
  margin-top: 200px;
}

.lineIngredients {
  list-style-type: none;
}