<div className="navbar-item has-dropdown account-dropdown">
  <button className="button account-button" aria-label="menu" aria-expanded="false" onClick={() => {
    const dropdown = document.querySelector('.account-dropdown').classList.toggle('is-active')
    console.log(dropdown)
    }
    }>
    <div className="menu-icon"><span class="icon has-background-transparent has-text-black"><i class="fas fa-bars"></i></span></div>
    <div className="user-account-icon"><span class="icon has-background-transparent has-text-white"><i class="fas fa-user"></i></span></div>
    </button>
  <div className="navbar-dropdown">
    <a className="navbar-item" href="#account">
      <strong><Link to='/account'>Sign up</Link></strong>
    </a>
    <a className="navbar-item" href="#account">
      <Link to='/account'>Login</Link>
    </a>
    <hr className="navbar-divider" />
    <a className="navbar-item" href="#account">
      Host your home
    </a>
    <a className="navbar-item" href="#account">
      Host an experience
    </a>
    <a className="navbar-item" href="#account">
      Help
    </a>
  </div>
</div>